{% include 'header.njk' %}

  <main class="page-main container">
    <h3>Меню:</h3>

    <ul>
      <li class="menu-item">
        <a class="menu-link" href="/linux-notes/docs/node-js">Node.js</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/docs/docker">Docker</a>
      </li>
    </ul>

  </main>

{% include 'footer.njk' %}